<!DOCTYPE html>
<html>

<head>
    <title>Music Cataloge</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            Music Categories
        </div>
        <div class="category">
            <img src="img/category-1.png" alt="">
            <div class="content">
                <p>Even more websites all about website templates on
                    <strong>Just Web Templates</strong>.
                </p>
                <div class="action">
                    <button class="listen"><a href="#">Listen</a></button>
                    <button class="add"><a href="#">Add</a></button>
                </div>
            </div>
        </div>
        <div class="category">
            <img src="img/category-2.png" alt="">
            <div class="content">
                <p>If you are looking for beautiful and proffesionally made templates you can find  them at
                    <strong>Templete Beauty</strong>.
                </p>
                <div class="action">
                    <button class="listen"><a href="#">Listen</a></button>
                    <button class="add"><a href="#">Add</a></button>
                </div>
            </div>
        </div>
        <div class="category">
            <img src="img/category-3.png" alt="">
            <div class="content">
                <p>Even more websites all about website templates on
                    <strong>Just Web Templates</strong>.
                </p>
                <div class="action">
                    <button class="listen"><a href="#">Listen</a></button>
                    <button class="add"><a href="#">Add</a></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>