<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Tree view</title>
</head>

<body>
    <ol>
        <li class="mian-list">
            List item
            <ol class="to-hide">
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
            </ol>
        </li>
        <li class="mian-list">
            List item
            <ol class="to-hide">
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
            </ol>
        </li>
        <li class="mian-list">
            List item
            <ol class="to-hide">
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
                <li class="sub-list">Sublist item</li>
            </ol>
        </li>
    </ol>
</body>

</html>